.container {
    display: grid;
    grid-template-columns: auto 20%;
    grid-template-areas: 
    ".console"
    ".score";
}

#clock {
    margin-left: 40px;
    color: darkred;
    font-weight: bold;
}

#rf-button {
   position: absolute;
   left: 0;
   bottom: 0; 
}