.container {
    display: grid;
    grid-template-columns: auto 20%;
    grid-template-areas: 
    ".console"
    ".score";
}

#clock {
    margin-left: 40px;
    color: darkred;
    font-weight: bold;
}